.lost{
    color: red;
}

.gained{
    color: rgb(40, 182, 40);
}

.tie{
    color: rgb(105, 105, 105);
}

.spinner{
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }