

<div class="my-4">
    <p-dropdown [options]="eras" [(ngModel)]="selectedEra" (onChange)="getYearEras(selectedEra)"></p-dropdown>
    <p-dropdown [options]="rounds"  optionLabel="raceName" optionValue="round" (onChange)="getRaceData($event.value)"></p-dropdown>
    <button class="bg-red-300 px-8 py-3 rounded-md">Search</button>
</div>

<ngx-charts-bar-horizontal
  [view]="view" 
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-horizontal>
