

<div class="my-4">
    <p-dropdown [options]="eras" [(ngModel)]="selectedEra" (onChange)="getYearEras(selectedEra)"></p-dropdown>
    <p-dropdown [options]="rounds" [(ngModel)]="selectedRound" optionLabel="raceName" optionValue="round"></p-dropdown>
    <button class="bg-red-300 px-8 py-3 rounded-md mx-2" (click)="getLapTimes()">Search</button>
    <button class="bg-red-300 px-8 py-3 rounded-md mx-2 font-bold" (click)="updateChartTimes(lapTimes, selectedLap - 1)" ><<</button>
    <label class="mx-4 text-white text-2xl">{{selectedLap}}</label>
    <button class="bg-red-300 px-8 py-3 rounded-md mx-2 font-bold" (click)="updateChartTimes(lapTimes, selectedLap + 1)">>></button>
    <button class="bg-red-300 px-8 py-3 rounded-md mx-2 font-bold" (click)="playUpdateChartTimes(lapTimes)">Play</button>
    <button class="bg-red-300 px-8 py-3 rounded-md mx-2 font-bold" (click)="pauseTimesFromMap()">Pause</button>
</div>

<ngx-charts-bar-horizontal
  [view]="view" 
  [results]="single"
  [gradient]="gradient"
  [customColors]="customColors"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  style="fill: #afb7c8;">

   <ng-template #tooltipTemplate let-model="model">
   Dif
    <pre>{{model.extra.dif}}</pre>
  </ng-template> -->
  
  
  

</ngx-charts-bar-horizontal>
