


<div class="flex flex-row">

<div class="flex flex-col">

  <div class="my-4 flex justify-evenly ">
    <div class="flex justify-start items-baseline">
      <p-dropdown [options]="eras"   class="mx-2" [(ngModel)]="selectedEra" (onChange)="getYearEras(selectedEra)"></p-dropdown>
      <p-dropdown [options]="rounds"   class="mx-2" [(ngModel)]="selectedRound" optionLabel="raceName" optionValue="round"></p-dropdown>
      <button class="bg-[#E76F51] mx-2 hover:shadow-lg active:bg-[#e76f51b0] hover:bg-[#e76f51c2] text-white p-3 min-w-[47px] rounded-md" (click)="getLapTimes()">Fetch results</button>
    </div>
    <label class="mx-4 text-white text-2xl">Lap {{selectedLap+1}}</label>
    <div class="justify-end">
      <button class="bg-[#E76F51] mx-2 text-white p-3 min-w-[47px] hover:shadow-lg active:bg-[#e76f51b0] hover:bg-[#e76f51c2] font-bold rounded-full disabled:bg-[#e76f51ab]" [disabled]="selectedLap == 0" (click)="updateChartTimes(totalResults, selectedLap - 1)" >  <i class="pi pi-step-backward" style="font-size: 1rem"> </i></button>
      
      <button class="bg-[#E76F51] mx-2 text-white p-3 min-w-[47px] hover:shadow-lg active:bg-[#e76f51b0] hover:bg-[#e76f51c2] font-bold rounded-full disabled:bg-[#e76f51ab]"  [disabled]="totalLaps <= selectedLap" (click)="updateChartTimes(totalResults, selectedLap + 1)"><i class="pi pi-step-forward" style="font-size: 1rem"> </i></button>
      <button class="bg-[#E76F51] mx-2 text-white p-3 min-w-[47px]  hover:shadow-lg  active:bg-[#e76f51b0] hover:bg-[#e76f51c2] font-bold rounded-full" [ngClass]="{'ring ring-red-300': !playStatus}" (click)="playUpdateChartTimes()" (click)="flipy()" > <i [ngClass]="{'pi-play': playStatus, 'pi-pause': !playStatus}" class="pi" style="font-size: 1rem"> </i></button>
    </div>
  </div>
  
  <ngx-charts-bar-horizontal
  [view]="view" 
  [results]="single"
  [gradient]="gradient"
  [customColors]="customColors"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: #afb7c8;">
    
    <ng-template #tooltipTemplate let-model="model">
      Dif
      <pre>{{model.extra.dif}}</pre>
    </ng-template> -->
    
  </ngx-charts-bar-horizontal>

</div>
  
<div style="width: 400px; height: 900px;" class="text-white" >

  <div *ngIf="selectedLap == totalLaps">
    <p class="text-lg flex border-b border-white my-3 justify-center">🏁  Race results  🏁</p>  
    <table>
      <tbody>
        <tr>
          <th class="underline px-2 ">Driver</th> <th  class="px-2 underline">Position</th> <th class="underline px-2 ">Finished status</th>
        </tr>
        <tr *ngFor="let x of finalResultsObject"> 
          <th align="left" class="px-2">{{x.name}} </th> <th align="left" class="px-2"> {{x.position}}</th> <th align="left" class="px-2">{{x.status}}</th>
        </tr>
      </tbody>
    </table>
    
  </div>




<div  *ngIf="pitStopInfo; then thenBlock else elseBlock"> </div>

<ng-template #thenBlock>
  <p class="text-lg  flex border-b border-white my-3 justify-center">🧰  On the Pits  🧰</p>  
    <table>
      <tbody>
        <tr>
          <th  class=" underline px-2" align="left">Driver</th> <th class=" underline px-2">Stop Nº</th> <th class=" underline px-2" >Stop time</th>
        </tr>
        <tr *ngFor="let x of pitStopInfo"> 
          <th align="left"  class="px-2">{{x.name}} </th> <th  class="px-2"> {{x.stop}}</th > <th class="px-2"> {{x.duration}} </th>
        </tr>
      </tbody>
    </table>
</ng-template>
<ng-template #elseBlock></ng-template>

<div *ngIf="fastestLap && (fastestLap.lap == selectedLap+1 || selectedLap == totalLaps)">
  <p class="text-lg flex border-b border-white my-3 justify-center">⏱   Fastest lap  ⏱ </p>  
  <table>
    <tbody>
      <tr>
      </tr>
      <tr > 
        <th class="pr-5">{{fastestLap.driver}} </th> <th> {{fastestLap.time}}</th>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="retirementsInfo">
  <p class="text-lg flex border-b border-white my-3 justify-center">💥  Retirements  💥</p>  
  <table>
    <tbody>
      <tr>
        <th  class=" underline px-2" align="left">Driver</th> <th class=" underline px-2"> Reason</th>
      </tr>
      <tr *ngFor="let x of retirementsInfo"> 
        <th align="left"  class="px-2">{{x.driver}} </th> <th  class="px-2"> {{x.retirementMotive}}</th >
      </tr>
    </tbody>
  </table>
</div>


</div>
</div>
