<div class="my-16 bg-red-400">Nav bar</div>
<div class="container">
  <p class="underline text-2xl">Tailwin</p>
  <div class="flex">
    <div class="flex-1">
      <img src="../assets/Monza.png" alt="">
    </div>
    <div class="flex-1 flex">
      <div class="pl-8 flex flex-col">
      <div class="flex-1">  
        <p-button label="Next lap" class="mr-4"></p-button>
        <p-button label="Previous lap" ></p-button>
      </div>
      <div class="flex-1">
        <textarea name="" id="" cols="60" rows="10">Something happens with number 4#</textarea>
      </div>
    </div>
    </div>
  </div>
  Genereic circuit stats
  <br>
  Dinamic stats, so we can see how good they were doing as the season progressed using a card-like system
  <br>
  Cool landing page, treeJS
</div>