<head> </head>
<body>
  <div class="my-12" style="background-color: #2A9D8F;">
    <nav>
      <ul>
        <div class="flex flex-1 justify-center">
          <li class="flex mx-4">
            <a
              class="px-8 py-4 hover:bg-teal-500 transition text-white"
              routerLink="/globe"
              routerLinkActive="active"
              >Globe</a
            >
          </li>

          <li class="flex mx-4">
            <a
              class="px-8 py-4 hover:bg-teal-500 transition text-white"
              routerLink="/graph"
              routerLinkActive="active"
              >Graph</a
            >
          </li>
        </div>
      </ul>
    </nav>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
    <!-- <app-globe></app-globe> -->
  </div>
</body>
