    <div class="text-white flex justify-center flex-col items-center relative gap-3"> 
        <p class="lg:text-3xl text-2xl 2xl:text-4xl" >Revisit any Formula 1 race in just seconds!</p>
        <div>
            <p-dropdown class="mx-2" [options]="eras" placeholder="Select a year" [(ngModel)]="selectedEra" (onChange)="getYearEras(selectedEra)"></p-dropdown>
            <p-dropdown  class="mx-2" [options]="races$ | async" placeholder="Select a year race" [disabled]="selectedEra == undefined" [(ngModel)]="selectedRace" optionLabel="raceName" optionValue="round"></p-dropdown>
            <button [disabled]="!selectedRace" (click)="dropDownToGraph()" class="mt-4 bg-[#ff1801] mx-2 text-white p-3 min-w-[47px] hover:shadow-lg active:bg-[#E61600] hover:bg-[#FF5032]  rounded-full disabled:bg-[#f77f6a]" ><i class="pi pi-arrow-right"></i>
            </button>
        </div>
        
    </div>
    <div class="congrats-Max"> Congrats Max! </div>

    <div id="globeViz"></div>
