/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'f1'; 
    src: url('assets/Formula1-Regular-1.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'f1'; 
    src: url('assets/Formula1-Bold-4.ttf') format('truetype'); 
    font-weight: bold; 
    font-style: normal; 
}

body{
    font-family: 'f1', sans-serif !important;
    .p-component,.p-inputtext {
        font-family: 'f1', sans-serif !important;
    }
}

html{
    overflow-x: hidden;
}

.chart-legend .legend-label .active .legend-label-text, .legend-title-text{

    color: #afb7c8 !important;
}

.scene-tooltip{
    cursor: pointer;
}

.resultTab{
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    .resultTab{
        min-width: 50%;
        width: auto;
    }
}

.eventTab{
    min-width: 75%;
}

@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    .eventTab{
        min-width: 40%;
    }
}

svg.ngx-charts{
    overflow: hidden;
}